<div class="mdl-grid">
  <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
    <mat-tab-group>
      <mat-tab label="Nowe">
        <div class="alwin-demand-mat-tab">
          <alwin-new-demands></alwin-new-demands>
        </div>
      </mat-tab>
      <mat-tab label="Wysłane">
        <div class="alwin-demand-mat-tab">
          <alwin-issued-demands></alwin-issued-demands>
        </div>
      </mat-tab>
      <mat-tab label="Odrzucone">
        <div class="alwin-demand-mat-tab">
          <alwin-rejected-demands></alwin-rejected-demands>
        </div>
      </mat-tab>
      <mat-tab label="Ręczne">
        <div class="alwin-demand-mat-tab">
          <alwin-manual-demands></alwin-manual-demands>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
