<div class="mdl-grid">
  <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
    <mat-tab-group>
      <mat-tab label="Nowe">
        <div class="alwin-termination-mat-tab">
          <alwin-new-terminations></alwin-new-terminations>
        </div>
      </mat-tab>
      <mat-tab label="Wykonane">
        <div class="alwin-termination-mat-tab">
          <alwin-issued-terminations></alwin-issued-terminations>
        </div>
      </mat-tab>
      <mat-tab label="Odrzucone">
        <div class="alwin-termination-mat-tab">
          <alwin-rejected-terminations></alwin-rejected-terminations>
        </div>
      </mat-tab>
      <mat-tab label="Aktywowane">
        <div class="alwin-termination-mat-tab">
          <alwin-contract-activated-terminations></alwin-contract-activated-terminations>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
