.logged-person-icon {
  font-size: 32px !important;
  width: 32px !important;
  height: 32px !important;
}

.logged-wallet-icon {
  font-size: 32px !important;
  width: 32px !important;
  height: 32px !important;
}

.margin-right-4 {
  margin-right: 4px;
}

.padding-0-8 {
  padding: 0 8px;
}
