.tags-table {
  border: none;
}

.mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
  width: 35px;
}

.action-cell {
  width: 70px;
}

.not-found-label {
  padding: 18px;
}

.not-found {
  padding: 10px;
}
