<div class="alwin-dialog-header">
  <h1 mat-dialog-title id="dialog-title">Dane klienta</h1>
  <button mat-icon-button mat-dialog-close id="close-button">
    <mat-icon class="material-icons">cancel</mat-icon>
  </button>
</div>

<div mat-dialog-content style="min-width: 600px; max-height: 500px;" id="details-dialog">
  <div>
    <mat-list>
      <mat-list-item class="alwin-mat-list-title">
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line>Klient</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4 mat-line>Numer klienta</h4>
        <p mat-line>{{customer.company.extCompanyId | nullable}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4 mat-line>Nazwa firmy</h4>
        <p mat-line>{{customer.company.companyName | nullable}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4 mat-line>NIP</h4>
        <p mat-line>{{customer.company.nip | nullable}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4 mat-line>REGON</h4>
        <p mat-line>{{customer.company.regon | nullable}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4 mat-line>KRS</h4>
        <p mat-line>{{customer.company.krs | nullable}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4 mat-line>Nazwa odbiorcy</h4>
        <p mat-line>{{customer.company.recipientName | nullable}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <div>
    <alwin-person-list [customer]="customer"></alwin-person-list>
  </div>
</div>
