<div class="change-password-box">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <form (ngSubmit)="changePasswordForm.form.valid && changePassword()" #changePasswordForm="ngForm">
    <div class="group">
      <img src="./assets/al-logo.png" alt="">
    </div>

    <mat-form-field class="alwin-textfield">
      <input type="password" matInput placeholder="Nowe hasło" [(ngModel)]="newPassword" name="newPassword" required>
    </mat-form-field>

    <mat-form-field class="alwin-textfield">
      <input type="password" matInput placeholder="Powtórz hasło" [(ngModel)]="repeatPassword" name="newPasswordRepeated" required
             alwinRepeatValue="newPassword">
      <mat-error>Niepoprawnie powtórzone hasło</mat-error>
    </mat-form-field>


    <div>
      <button id="change-password-button" mat-raised-button [disabled]="loading || !changePasswordForm.form.valid || newPassword !== repeatPassword"
              color="primary">
        Zmień hasło
      </button>
    </div>
  </form>
</div>
