<mat-list>
  <mat-list-item class="alwin-mat-list-title">
    <mat-icon mat-list-icon>people</mat-icon>
    <h4 mat-line>Pracownicy</h4>
  </mat-list-item>
</mat-list>

<div *ngIf="customer.person != null;then singlePerson else multiplePersons"></div>

<ng-template #singlePerson>
  <mat-tab-group>
    <mat-tab label="{{customer.person.firstName | concatenateText: [customer.person.lastName]}}">
      <alwin-person [person]="customer.person"></alwin-person>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-template #multiplePersons>
  <mat-tab-group class="alwin-max-width-600">
    <mat-tab label="{{person.firstName | concatenateText: [person.lastName]}}" *ngFor="let person of customer.company.persons">
      <alwin-person [person]="person"></alwin-person>
    </mat-tab>
  </mat-tab-group>
</ng-template>
