<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header  mdl-layout--fixed-footer">
  <header class="mdl-layout__header mdl-layout__header--scroll alwin-header" [hidden]="hideTabs()">
    <div class="mdl-layout__tab-bar alwin-header-dark">
      <a [hidden]="!canActivate(getHomePage())" class="mdl-layout__tab" [routerLink]="['/'+getHomePage()]"
         [routerLinkActive]="['is-active']">
        <mat-icon class="material-icons">home</mat-icon>
      </a>

      <a *ngFor="let menuLink of menu" class="mdl-layout__tab" [routerLink]="[menuLink.path]" [class.is-active]="isActive(menuLink.path)">{{menuLink.label}}</a>

      <div class="mdl-layout-spacer"></div>
      <div id="logged-in-user-and-role" class="user-label">
        <span class="" user-label-name>{{getCurrentUserNameDetail()}}</span>
        <span class="user-label-role">| {{getCurrentUserRole()}}</span>
      </div>
      <a class="mdl-layout__tab" [routerLink]="['/login']">
        <mat-icon class="material-icons">power_settings_new</mat-icon>
      </a>
      <img style="margin-right: 25px;" src="./assets/al-logo-small.png">
    </div>
  </header>
  <main class="mdl-layout__content overflow-auto">
    <div class="mdl-layout__tab-panel padding-0 is-active">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer>
    <div class="footer">
      ver. {{appVersion}} ({{restVersion}})
    </div>
  </footer>

</div>
